/* ----------UNIVERSAL----------- */
a {
    display: inline-block;
    color: #7b68ee;
    text-decoration: none;
    transition: color 0.2s;
    transition: transform 0.2s;
}
a:hover {
    color: #a496ff;
    transform: translateY(-2px);
}

.bigger-h1 {
    font-size: 60px;
}

.bigger-p {
    font-size: 20px;
}

/* -----------LANDING------------ */
.increase-size-fade {
    font-size: 36px;
    animation: increaseTextSizeFade 3s ease;
    -webkit-animation: increaseTextSizeFade 3s ease;
    -moz-animation: increaseTextSizeFade 3s ease;
    -o-animation: increaseTextSizeFade 3s ease;
    -ms-animation: increaseTextSizeFade 3s ease;
    animation-fill-mode: forwards;
}
.fade-in-first {
    animation: fadeIn 5s;
    -webkit-animation: fadeIn 5s;
    -moz-animation: fadeIn 5s;
    -o-animation: fadeIn 5s;
    -ms-animation: fadeIn 5s;
}
.fade-in-second {
    opacity: 0;
    animation: fadeIn 5s;
    -webkit-animation: fadeIn 5s;
    -moz-animation: fadeIn 5s;
    -o-animation: fadeIn 5s;
    -ms-animation: fadeIn 5s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
}
.fade-in-third {
    opacity: 0;
    animation: fadeIn 5s;
    -webkit-animation: fadeIn 5s;
    -moz-animation: fadeIn 5s;
    -o-animation: fadeIn 5s;
    -ms-animation: fadeIn 5s;
    animation-delay: 2s;
    animation-fill-mode: forwards;
}
.vertical-center-top {
    min-height: calc(100vh - 56px); /* Accounts for navbar */
    display: flex;
    margin-top: -3em;
    align-items: center;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes increaseTextSize {
    0% {
        opacity: 0;
        font-size: 36px;
    }
    100% {
        opacity: 1;
        font-size: 50px;
    }
}

/* ----------NAVBAR CSS---------- */
body {
    padding-top: 56px; /* Compensate for navbar */
}

.navbar-custom {
    background-color: MediumSlateBlue;
}

.profile-picture {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-left: 10px;
}

.navbar-brand:hover {
    transform: none;
}

.nav-link {
    font-weight: 600;
    color: rgb(34, 34, 34);
    transition: transform 0.3s;
}

.nav-link:hover {
    color: rgb(238, 209, 255);
    transform: scale(1.05);
}

.navbar {
    padding-left: 2em;
    padding-right: 2em;
}

/*----------Button CSS-----------*/
.custom-button {
    background-color: mediumslateblue;
}
/* CSS for small screens (Keeps formatting order when toggler is pushed) */
@media (max-width: 1000px) {
    .navbar {
        flex-direction: column;
    }

    .profile-picture {
        order: 1;
    }

    .navbar-collapse {
        order: 2;
    }
}
