/* -----------LANDING------------ */
.fade-in-first {
    animation: fadeIn 5s;
    -webkit-animation: fadeIn 5s;
    -moz-animation: fadeIn 5s;
    -o-animation: fadeIn 5s;
    -ms-animation: fadeIn 5s;
}
.fade-in-second {
    opacity: 0;
    animation: fadeIn 5s;
    -webkit-animation: fadeIn 5s;
    -moz-animation: fadeIn 5s;
    -o-animation: fadeIn 5s;
    -ms-animation: fadeIn 5s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
}
.vertical-center {
    min-height: calc(100vh - 56px); /* Accounts for navbar */

    display: flex;
    align-items: center;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/* ----------NAVBAR CSS---------- */
.navbar-custom {
    background-color: MediumSlateBlue;
}
.profile-picture {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-left: 10px;
}
/* CSS for small screens (Keeps formatting order when toggler is pushed) */
@media (max-width: 1000px) {
    .navbar {
        flex-direction: column;
    }

    .profile-picture {
        order: 1;
    }

    .navbar-collapse {
        order: 2;
    }
}
