/* Font imports */
@import url("https://fonts.googleapis.com/css?family=Noto+Serif+Display");

/* Global */

:root {
    --clr-primary: #7b68ee;
    --clr-primary-lighter: #a496ff;
    --clr-primary-darker: #5344a7;
    --clr-secondary: #d496a7;
    --clr-nav-hover: #eed1ff;
    --clr-nav: #222222;
    --clr-deep: #053a5f;
    --clr-warn: #bf4e30;
    --clr-light: #fdf0ff;
    --clr-dark: #252a2e;
    --clr-card: #434c54;

    --background: var(--clr-dark);
    --foreground: var(--clr-light);

    --font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    --font-family-accent: "Noto Serif Display", "Georgia", Georgia, Serif;
}

.lightmode {
    --clr-primary: #7b68ee;
    --clr-primary-lighter: #a496ff;
    --clr-primary-darker: #5344a7;
    --clr-secondary: #d496a7;
    --clr-nav-hover: #eed1ff;
    --clr-nav: #222222;
    --clr-deep: #2f89ca95;
    --clr-warn: #bf4e30;
    --clr-light: #f7ebeb;
    --clr-dark: #1c1c1c;
    --clr-card: #a59be2;

    --background: var(--clr-light);
    --foreground: var(--clr-dark);
}

body {
    font-family: var(--font-family);
    background-color: var(--background);
    color: var(--foreground);
}

div {
    transition: all 0.2s linear !important;
}

/* Links */
a {
    display: inline-block;
    color: var(--clr-primary);
    text-decoration: none;
    transition: color 0.2s, transform 0.2s;
}

a:hover {
    color: var(--clr-primary-lighter);
    transform: translateY(-2px);
}

/* Typography */
.bigger-h1 {
    font-size: 60px;
}

.bigger-p {
    font-size: 20px;
    margin-left: 1.5em;
    margin-right: 1.5em;
}

/* Titles and animations */

.title {
    font-weight: bold;
    font-family: var(--font-family-accent);
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes increaseTextSize {
    0% {
        opacity: 0;
        font-size: 36px;
    }
    100% {
        opacity: 1;
        font-size: 50px;
    }
}

.increase-size-fade {
    font-size: 36px;
    animation: increaseTextSizeFade 1s ease;
    -webkit-animation: increaseTextSizeFade 1s ease;
    -moz-animation: increaseTextSizeFade 1s ease;
    -o-animation: increaseTextSizeFade 1s ease;
    -ms-animation: increaseTextSizeFade 1s ease;
    animation-fill-mode: forwards;
}
.fade-in-first {
    animation: fadeIn 0.5s;
    -webkit-animation: fadeIn 0.5s;
    -moz-animation: fadeIn 0.5s;
    -o-animation: fadeIn 0.5s;
    -ms-animation: fadeIn 0.5s;
    animation-fill-mode: forwards;
}
.fade-in-second {
    opacity: 0;
    animation: fadeIn 0.5s;
    -webkit-animation: fadeIn 0.5s;
    -moz-animation: fadeIn 0.5s;
    -o-animation: fadeIn 0.5s;
    -ms-animation: fadeIn 0.5s;
    animation-delay: 0.5s;
    animation-fill-mode: forwards;
}
.vertical-center-top {
    min-height: calc(100vh - 56px); /* Accounts for navbar */
    display: flex;
    align-items: center;
}

/* Navbar */

.logo {
    width: 50px;
    height: auto;
    margin-left: -22px;
}

.navbar-custom {
    background-color: var(--clr-primary);
}

.profile-picture {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-left: 10px;
}
.navbar-brand {
    font-family: var(--font-family-accent);
}

.navbar-brand:hover {
    transform: none;
}

.nav-link {
    font-weight: 600;
    color: var(--clr-nav);
    transition: transform 0.3s;
}

.nav-link:hover {
    color: var(--clr-nav-hover);
    transform: scale(1.05);
}

.navbar {
    padding-left: 2em;
    padding-right: 2em;
}

.light-mode-toggle {
    color: var(--clr-nav);
    border: 2px solid var(--foreground);
    background: transparent;
    cursor: pointer;
    padding-bottom: 30px;
    margin-right: 1rem;
    border-radius: 5px;
    width: 30px;
    height: 30px;
}

/* CSS for small screens (Keeps formatting order when toggler is pushed) */
@media (max-width: 1000px) {
    .navbar {
        flex-direction: column;
    }

    .profile-picture {
        order: 1;
    }

    .navbar-collapse {
        order: 2;
    }
}

/* Sliders */
input[type="range"] {
    -webkit-appearance: none;
    appearance: none;
    background: transparent;
    cursor: pointer;
    width: 15rem;
}

input[type="range"]::-webkit-slider-runnable-track {
    border-radius: 0.5rem;
    background: var(--clr-deep);
    height: 0.5rem;
}

input[type="range"]::-moz-range-track {
    border-radius: 0.5rem;
    background: var(--clr-deep);
    height: 0.5rem;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    margin-top: -8px; /* Centers thumb on the track */
    background-color: var(--clr-primary);
    border-radius: 1rem;
    height: 1.5rem;
    width: 1.5rem;
}

input[type="range"]::-moz-range-thumb {
    border: none;
    border-radius: 0;
    background-color: var(--clr-primary);
    border-radius: 1rem;
    height: 1.5rem;
    width: 1.5rem;
}

/* File upload */

.custom-file-upload {
    position: relative;
    display: inline-block;
    overflow: hidden;
    border: 2px solid var(--clr-primary);
    background-color: var(--clr-primary);
    color: white;
    border-radius: 20px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

.custom-file-input {
    display: none;
}

.file-upload-text {
    position: relative;
    z-index: 1;
}

.custom-file-upload:hover {
    background-color: white;
    color: var(--clr-primary);
    border-color: var(--clr-primary);
}

/* Buttons */

.btn-primary {
    background-color: var(--clr-primary) !important;
    border-color: var(--clr-primary) !important;
}

.btn-primary:hover,
.btn-primary:active {
    background-color: var(--clr-primary-darker) !important;
    border-color: var(--clr-primary-darker) !important;
    transform: translateY(0px);
}

/* Templates */

.template-choice {
    display: inline-block;
    margin: 10px;
    cursor: pointer;
}

.template-choice img {
    width: 200px;
    height: auto;
    border-radius: 10px;
    border: 2px solid transparent;
}

.template-choice input[type="radio"]:checked + img {
    border: 2px solid var(--clr-primary);
}

.template-choice input[type="radio"]:checked + img + .checkmark {
    display: block;
}

/* Sign In/Sign Up */
.custom-signin {
    display: inline-block;
    text-decoration: none;
    transition: color 0s;
    transition: transform 0s;
}

.custom-signin:hover {
    transform: translateY(0px);
}

.line {
    height: 0;
    width: 67%;
    border: 1px solid rgb(178, 187, 197);
    margin: 1rem;
    display: inline-block;
}

.login-register-form {
    border-color: var(--clr-primary);
}

/* Loading screen */
.loading-overlay {
    display: none; /* Hidden by default */
    position: fixed;
    z-index: 999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #000000cc;
    text-align: center;
}

.loading-overlay h1 {
    position: absolute;
    top: 80%;
    left: 32%;
    font-family: var(--font-family-accent);
}

.loading-overlay h2 {
    position: absolute;
    top: 95%;
    left: 37%;
    font-size: 1em;
    color: grey;
}

.loading-overlay-textbox {
    text-align: center;
    position: absolute;
    height: 25em;
    width: 50em;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: #00000000;
    border-radius: 10px; /* Rounded corners */
    box-shadow: 0 0 10px #00000000;
}

@keyframes spinner {
    to {
        transform: rotate(360deg);
    }
}

.spinner:before {
    content: "";
    box-sizing: border-box;
    position: absolute;
    top: 22%;
    left: 39%;
    width: 12rem;
    height: 12rem;
    border-radius: 50%;
    border: 10px outset transparent;
    border-top-color: var(--clr-primary);
    border-bottom-color: var(--clr-primary);
    animation: spinner 1s ease infinite;
}

/* Store */
.card {
    background: var(--clr-card);
    color: var(--foreground);
    padding: 2em;
    border-radius: 2em;
}
