{% extends "base.html" %}
{% load static %}
{% block content %}
    <div class="container d-flex justify-content-center">
        <div class="col-8">
            <h1 class="text-center title">Transformation History</h1>
            <br>
            {% for conversion, files in history.items %}
                <h2>{{ conversion.date }}</h2>
                <h3>Input Files</h3>
                {% for file in files.input_files %}
                    <p>
                        <a href="{{ file.file.url }}" download>{{ file.file }}</a>
                    </p>
                {% endfor %}
                <h3>Output Files</h3>
                {% for file in files.output_files %}
                    <p>
                        <a href="{{ file.file.url }}" download>{{ file.file }}</a>
                    </p>
                {% endfor %}
                <hr>
            {% empty %}
                <div class="d-flex flex-column justify-content-center align-items-center"
                     style="height: 200px">
                    <p>You have no transformations.</p>
                    <a href="/transform" class="btn btn-primary">Start a new transformation</a>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock content %}
