{% extends 'base.html' %}
{% load static %}
{% load json_filter %}
{% block content %}
    {% include 'navbar.html' %}
    <div class="container d-flex justify-content-center bg-dark text-white"
         style="padding-top: 100px">
        <div class="col-8">
            <h1 class="text-center title">Transformation History</h1>
            <br>
            <div id="accordion">
                {% for conversion, files in history.items %}
                    <div class="card bg-dark text-light border-light mb-3">
                        <div class="card-header border-light"
                             id="heading{{ forloop.counter }}"
                             data-toggle="collapse"
                             data-target="#collapse{{ forloop.counter }}"
                             aria-expanded="true"
                             aria-controls="collapse{{ forloop.counter }}">
                            <h3 class="card-title">{{ conversion.date }} UTC</h3>
                        </div>
                        <div id="collapse{{ forloop.counter }}"
                             class="collapse"
                             aria-labelledby="heading{{ forloop.counter }}"
                             data-parent="#accordion">
                            <div class="card-body text-light">
                                <div class="row">
                                    <div class="col-md-6">
                                        <p class="card-text">
                                            <strong>Prompt:</strong> {{ conversion.user_parameters|get_item:"prompt" }}
                                        </p>
                                        <p class="card-text">
                                            <strong>Language:</strong> {{ conversion.user_parameters|get_item:"language" }}
                                        </p>
                                        <p class="card-text">
                                            <strong>Tone:</strong> {{ conversion.user_parameters|get_item:"tone" }}
                                        </p>
                                        <p class="card-text">
                                            <strong>Complexity:</strong> {{ conversion.user_parameters|get_item:"complexity" }}/6
                                        </p>
                                        <p class="card-text">
                                            <strong>Number of Slides:</strong> {{ conversion.user_parameters|get_item:"num_slides" }}
                                        </p>
                                        <p class="card-text">
                                            <strong>Image Frequency:</strong> {{ conversion.user_parameters|get_item:"image_frequency" }}/6
                                        </p>
                                    </div>
                                    <div class="col-md-6">
                                        <h4 class="card-subtitle mb-2 text-light">Input Files</h4>
                                        {% for file in files.input_files %}
                                            <p class="card-text">
                                                <a href="{{ file.file.url }}" download>{{ file.file }}</a>
                                            </p>
                                        {% endfor %}
                                        <h4 class="card-subtitle mb-2 text-light">Output Files</h4>
                                        {% for file in files.output_files %}
                                            <p class="card-text">
                                                <a href="{{ file.file.url }}" download>{{ file.file }}</a>
                                            </p>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer border-light">
                                <a href="/results/{{ conversion.id }}" class="btn btn-primary">View Results</a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
{% endblock %}
