{% extends "base.html" %}
{% block content %}
{% include "navbar.html" %}
<div class="vertical-center flex-column justify-content-center gap-5">
    <div class="h-75 d-flex flex-column align-items-center justify-content-center gap-3 text-light">
        <h1 class="fade-in-first">Welcome to Platonix</h1>
        <p class="fade-in-second">Your personal AI driven educational assistant</p>
    </div>
    <div>
        <h1 class="text-light">Something</h1>
    </div>
</div>
{% endblock %}