{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="d-flex justify-content-center align-items-center">
        <div class="card d-flex mt-5 justify-content-center align-items-center"
             style="width: 90%;
                    max-width: 400px">
            <!-- Adjusted for responsiveness -->
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }} alert-dismissible fade show"
                     role="alert">
                    {% comment %} <strong>Message:</strong> {% endcomment %}
                    {{ message }}
                    <button type="button"
                            class="btn-close"
                            data-bs-dismiss="alert"
                            aria-label="Close">
                        {% comment %} <span aria-hidden="true">&times;</span> {% endcomment %}
                    </button>
                </div>
            {% endfor %}
            <img class="mt-3"
                 src="../static/img/favicon-purple.png"
                 alt
                 width="90"
                 height="90" />
            <h1 class="h3 mb-3 mt-3 font-weight-normal">Login</h1>
            <form action="/login" method="post">
                {% csrf_token %}
                <div class="form-group">
                    <strong>{{ form.email.label }}</strong>
                    {{ form.email }}
                    {% if form.email.errors %}<div style="color: darkred" class="error">{{ form.email.errors }}</div>{% endif %}
                </div>
                <br />
                <div class="form-group">
                    <strong>{{ form.password.label }}</strong>
                    {{ form.password }}
                    {% if form.password.errors %}<div style="color: darkred" class="error">{{ form.password.errors }}</div>{% endif %}
                </div>
                <button class="btn btn-primary mt-3" style="width: 100%" type="submit">Login</button>
            </form>
            <div class="line mb-3"></div>
            <a class="custom-signin" href="/register">
                <button class="btn btn-primary mb-3" type="submit">Create a new account</button>
            </a>
        </div>
    </div>
{% endblock %}
