{% load static %}
<nav class="navbar navbar-expand-lg navbar-custom"
     aria-label="Navigation bar">
    <div class="container-fluid">
        <div class="title-logo">
            <!-- Navbar toggler button -->
            <button class="navbar-toggler"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#navbarLinks"
                    aria-controls="navbarLinks"
                    aria-expanded="false"
                    aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <!-- Title/logo -->
            <a class="navbar-brand" href="{% url 'index' %}" tabindex="-1"><b>PLATONIX</b></a>
            <a href="{% url 'index' %}" class="homepage-nav" aria-label="homepage">
                <img class="logo"
                     width="50"
                     height="50"
                     src="{% static 'img/thinker-100-solid.png' %}"
                     alt="Logo" />
            </a>
        </div>
        <!-- Links -->
        <div class="collapse navbar-collapse" id="navbarLinks">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'about' %}">About/FAQ</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'store' %}">Store</a>
                </li>
                {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'transform' %}">Create</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'exercise' %}">Exercise</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'history' %}">History</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link logout" href="{% url 'logout' %}">Logout</a>
                    </li>
                {% endif %}
            </ul>
        </div>
        <div class="navbar-right">
            <button id="light-mode-toggle"
                    class="light-mode-toggle"
                    aria-label="Light mode toggle button">
                <svg width="100%" viewBox="0 0 496 496">
                    <path fill="var(--foreground)" d="M8,256C8,393,119,504,256,504S504,393,504,256,393,8,256,8,8,119,8,256ZM256,440V72a184,184,0,0,1,0,368Z" transform="translate(-8 -8)" />
                </svg>
            </button>
            <!-- Profile picture (Example source used) -->
            {% if user.is_authenticated %}
                <a href="{% url 'profile' %}">
                    <img src="{% url 'download_profile_pic' user.id %}"
                         alt="Profile Picture"
                         aria-label="My Profile"
                         class="profile-picture"
                         width="40"
                         height="40">
                </a>
                <a class="nav-link logout-nav;" href="{% url "logout" %}">Logout</a>
            {% endif %}
        </div>
    </div>
</nav>
