{% extends "base.html" %}
{% block content %}
    <div class="d-flex justify-content-center align-items-center mb-5 login-container">
        <div class="card d-flex mt-5 justify-content-center align-items-center"
             style="width: 90%;
                    max-width: 400px">
            <h1 class="h3 mb-3 mt-3 font-weight-normal">Check Your Email</h1>
            <p>
                An email has been sent to the provided email with instructions for resetting your password. Please check your email.
            </p>
            <p>
                If you do not receive an email, please make sure you have entered the address you registered with, and check your spam folder.
            </p>
            <div class="mt-4">
                <a href="{% url 'login' %}" class="btn btn-primary">Return to Login</a>
            </div>
        </div>
    </div>
{% endblock %}
