{% extends "base.html" %}
{% block content %}
    <div class="d-flex justify-content-center align-items-center mb-5 login-container">
        <div class="card d-flex mt-5 justify-content-center align-items-center"
             style="width: 90%;
                    max-width: 400px">
            <h1 class="h3 mb-3 mt-3 font-weight-normal">Password Reset Successfully</h1>
            <p>Your password has been set successfully. You can now log in with your new password.</p>
            <div class="mt-4">
                <a href="{% url 'login' %}" class="btn btn-primary">Return to Login</a>
            </div>
        </div>
    </div>
{% endblock %}
