{% extends "base.html" %}
{% block content %}
    <div class="d-flex justify-content-center align-items-center mb-5 login-container">
        <div class="card d-flex mt-5 justify-content-center align-items-center"
             style="width: 90%;
                    max-width: 400px">
            <!-- Display messages if any -->
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }} alert-dismissible fade show"
                     role="alert">
                    {{ message }}
                    <button type="button"
                            class="btn-close"
                            data-bs-dismiss="alert"
                            aria-label="Close"></button>
                </div>
            {% endfor %}
            <h1 class="h3 mb-3 mt-3 font-weight-normal">Reset Password</h1>
            <form action="{% url 'password_reset' %}" method="post" class="w-100 px-4">
                {% csrf_token %}
                <div class="form-group">
                    <label for="{{ form.email.id_for_label }}" class="form-label">{{ form.email.label_tag }}</label>
                    {{ form.email }}
                    {% if form.email.errors %}<div class="error">{{ form.email.errors }}</div>{% endif %}
                </div>
                <button class="btn btn-primary mt-3 mx-auto login-button" type="submit">Send me reset instructions</button>
            </form>
            <div class="line mb-3"></div>
        </div>
    </div>
{% endblock %}
