{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="container d-flex justify-content-center mb-5">
        <div class="content-section rounded p-4 profile-content">
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }} alert-dismissible fade show"
                     role="alert">
                    {{ message }}
                    <button type="button"
                            class="btn-close"
                            data-bs-dismiss="alert"
                            aria-label="Close"></button>
                </div>
            {% endfor %}
            <div class="media">
                <img class="rounded-circle account-img" src="{{ user.profile.image.url }}" />
                <div class="media-body">
                    <h2 class="account-heading">{{ user.username }}</h2>
                    <p class="account-email">{{ user.email }}</p>
                </div>
            </div>
            <!-- Email Update Form -->
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <fieldset class="form-group">
                    <legend class="border-bottom mb-4">Email</legend>
                    <div class="form-group">{{ e_form }}</div>
                    <div class="form-group mt-3">
                        <button class="btn btn-primary" type="submit">Update Email</button>
                    </div>
                </fieldset>
            </form>
            <br>
            <!-- Password Update Form -->
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <fieldset class="form-group">
                    <legend class="border-bottom mb-4">Password</legend>
                    <div class="form-group">{{ p_form }}</div>
                    <div class="form-group mt-3">
                        <button class="btn btn-primary" type="submit">Update Password</button>
                    </div>
                </fieldset>
            </form>
            <br>
            <!-- Profile Picture Update Form -->
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <fieldset class="form-group">
                    <legend class="border-bottom mb-4">Profile Picture</legend>
                    <div class="form-group">{{ pic_form }}</div>
                    <div class="form-group mt-3">
                        <button class="btn btn-primary" type="submit">Update Profile Picture</button>
                    </div>
                </fieldset>
            </form>
            <br>
            <!-- Account Deletion Form -->
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <fieldset class="form-group">
                    <legend class="border-bottom mb-4">Account Deletion</legend>
                    <div class="form-group">{{ delete_form.as_p }}</div>
                    <div class="form-group mt-3">
                        <button class="btn btn-danger" type="submit">Delete Account</button>
                    </div>
                </fieldset>
            </form>
            <br>
            {% if has_subscription %}
                <legend class="border-bottom mb-4">Subscription</legend>
                {% if premium %}<p>{{ premium }}</p>{% endif %}
                <p>Start date: {{ subscription_start }}</p>
                <p>Expiry date: {{ subscription_expiry }}</p>
                <!-- Subscription Deletion Form -->
                <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <fieldset class="form-group">
                        <div class="form-group">{{ subscription_form.as_p }}</div>
                        <div class="form-group mt-3">
                            <button class="btn btn-danger" type="submit">Delete Subscription</button>
                        </div>
                    </fieldset>
                </form>
            {% endif %}
        </div>
    </div>
{% endblock content %}
