{% extends 'base.html' %}
{% load static %}
{% block content %}
    <script src="https://js.stripe.com/v3/"></script>
    <div class="container" style="padding-top: 90px">
        <div class="justify-content-center text-center">
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }} alert-dismissible fade show"
                     role="alert">
                    <strong>Message:</strong> {{ message }}
                    <button type="button"
                            class="close"
                            data-bs-dismiss="alert"
                            aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            {% endfor %}
            <h1 class="title h1 mt-3">Choose your product:</h1>
        </div>
        <div class="row justify-content-around">
            {% for p in products %}
                <div class="col-4">
                    <div class="card bg-secondary align-items-center mt-5">
                        <div class="card-title text-white fw-bold mt-3 h3">{{ p.name }}</div>
                        <div class="card-subtitle text-white fw-bold mt-2">{{ p.description }}</div>
                        <div class="text-white h3 mt-5">${{ p.get_display_price }}</div>
                        <div class="card-subtitle mt-1 mb-5 text-white">{{ p.phrase }}</div>
                        <form action="{% url 'create-checkout-session' p.id %}" method="POST">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-primary mb-3" id="checkout-button">Checkout</button>
                        </form>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
