{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="container" style="padding-top: 90px">
        <div class="justify-content-center align-items-center">
            <h2 class="text-center title h2 mt-3">Payment successful!</h2>
            <h2 class="text-center title h2 mt-3">Get started with your first transformation:</h2>
            <div class="d-flex justify-content-center align-items-center">
                <a class="w-25 btn mt-4 btn-primary" href="{% url 'transform' %}">Transform</a>
            </div>
        </div>
    </div> 
{% endblock %}